@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: 300;
    outline: none;
}

section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div__title {
    flex-basis: 100%;
}

.div__title h1 {
    background-color: #F2F2F2;
    width: 40%;
    margin: auto;
    padding: 20px;
    color: #F38D68;
    font-weight: 700;
    font-size: 2rem;
}

form {
    width: 45%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div__form {
    border-radius: 7px;
    border: 2px solid #F38D68;
    border-top: 15px solid #F38D68;
    padding: 30px 70px;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #F2F2F2;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.div__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

span {
    display: block;
}

textarea {
    display: block;
    margin: auto;
    resize: none;
    border-radius: 5px;
    border: 1px solid #F38D68;
    width: 75%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

select {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #F38D68;
    background-color: white;
    width: 150px;
    text-align: center;
}

.botao {
    height: 50px;
    border-radius: 25px;
    width: 200px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.botao:hover {
    cursor: pointer;
}

.botao__limpar {
    background-color: #F08080;
}

.botao__enviar {
    background-color: #2BB67E;
}